.pricing {
position: absolute;
left: 0%;
right: 87.47%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}

.about{
    position: absolute;
left: 64.45%;
right: 24.55%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}

.resourcesCenter {
position: absolute;
left: 22.76%;
right: 45.78%;
top: 0%;
bottom: 0%;

font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}

.contact{
    position: absolute;
left: 85.68%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}
.titulo1 {
    position: absolute;
width: 414px;
height: 104px;
left: -81px;
top: 162px;
}