
header {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: initial;
    flex-grow: 1;
    margin-right: -260px;
    margin-left: 48px;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1
}

nav a {
    margin-right: 67px;
    text-decoration: none;
    color: #333;
}

.titulo1 {
    position: absolute;
    width: 414px;
    height: 104px;
    left: -81px;
    top: 162px;
}

.logo {
    display: flex;
    align-items: center;
}
  /* ESTILO DEL BOTON DE SING UP*/
.button-login {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6341D5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-login:hover {
    background-color: #442a97;
  }

  .formulario {
    position: absolute;
width: 559px;
height: 696px;
left: 795px;
top: 235px;
  }